* {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: row;
}

.hudhuddabang {
  font-weight: 800;
}

.pappupagal {
  color: #737373;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 20vw;
  position: relative;
  min-height: 100vh;
}

img {
  width: 30%;
  height: auto;
  position: absolute;
  top: 5%;
  left: 25%;
  transform: translateX(-50%);
}

.text {
  position: absolute;
  top: 10%;
  left: 63%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.3rem;
  font-weight: 700;
}

.nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 25%;
  left: 40%;
  transform: translateX(-50%);
  gap: 1.5rem;
}

.navbar {
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 1rem;
  cursor: pointer;
}

.navbar img {
  margin-right: 0.75rem;
  width: 1.25rem;
  height: 1.25rem;
}

.icon {
  margin-right: 1.5rem;
}

.white-side {
  flex: 1;
  background-color: white;
  padding: 1.5rem;
}

h1 {
  color: black;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  margin-top: 3%;
}

p {
  color: #737373;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

.box-container {
  display: inline-flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  margin-bottom: 10%;
}

.box {
  flex: 1;
  background-color: #117BF9;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.box h2 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 800;
  text-align: center;
}

.box p {
  color: white;
  font-size: 1rem;
  margin-bottom: 0;
  text-align: center;
}


.additional-boxes {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.additional-box {
  background-color: #B7D8FF;
  padding: 1.5rem;
  border-radius: 0.5rem;
  color: rgb(0, 0, 0);
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 8.5rem;
  margin-right: 8rem;
  width: 15rem
}
.detleloabtoh{
  font-size: 2rem;
  text-align: left;
  margin-bottom: 1.5rem;
  margin-top: unset;
}
.detlelo {
  font-size: 2rem;
  text-align: left;
  margin-bottom: 1.5rem;
}

.detlogena {
  text-align: left;
  font-weight: 600;
  font-size: 1.4rem;
}

.top-right-heading {
  position: absolute;
  top: 2%;
  right: 2%;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.aakhripasta {
  font-size: 1rem;
  padding-left: 10%;
}
.light-grey-div {
  background-color: #f0f0f0;
  padding: 1.4rem;
  border-radius: 10px;
  margin-top: 20px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.registration-form {
  display: flex;
  flex-direction: column;
}

.registration-form label {
  margin-bottom: 8px;
  font-size: 1.3rem;
  font-weight: 600;
}

.registration-form input {
  margin-bottom: 16px;
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  margin-bottom: 2rem;
}

.registration-form input.bobbydeol {
  margin-bottom: 16px;
  height: 12rem;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  margin-bottom: 2rem;
}

.registration-form button {
  background-color: #117BF9;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* Media query for responsiveness */
@media only screen and (max-width: 600px) {
  .light-grey-div {
    max-width: 100%; 
    padding: 1.5rem; 
  }

  .registration-form input {
    padding: 10px; 
  }
}

a{
  all: unset;
}
#abhigulla{
  margin-right: 10px;
}

/* Responsive changes */
@media only screen and (max-width: 600px) {
  .container {
    width: 100vw;
  }

  .text,
  .nav {
    left: 50%;
    transform: translateX(-50%);
  }

  img {
    width: 50%;
  }

  .box-container {
    flex-direction: column;
  }
}
